{% load static %}
<footer class="dark:bg-gray-800 border-t-2 bg-white">
  <div class="mx-auto flex w-full max-w-screen-xl flex-col-reverse items-center p-6 md:flex-row md:justify-between">
    <span class="dark:text-gray-400 text-sm text-gray-500 sm:text-center">©2024 <a href="https://flowbite.com/" class="hover:underline">My KKU Library™</a>. All Rights Reserved. </span>
    <ul class="dark:text-gray-400 mt-3 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mt-0">
      <a href="https://flowbite.com/" class="mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse"> <img src="{% static "images/logo.png" %}" class="h-10" alt="Flowbite Logo" /> </a>
    </ul>
  </div>
</footer>
