{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %} {% endblock head_title %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
    {% block extra_head %} {% endblock extra_head %}
  </head>

  <body class="dark:bg-gray-800 flex min-h-screen flex-col bg-white">
    {% block header %} {% endblock header %}
    <div class="flex-grow">
      <div class="mx-auto">{% block content %} {% endblock content %}</div>
    </div>
    {% block footer %} {% endblock footer %}
    {% include "include/toast_messages.html" %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% block extra_body %} {% endblock extra_body %}
  </body>
</html>
